html{
  scroll-behavior: smooth !important;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
body{
  --color1: teal;
  --bgCol:  #1f242b;
  --card-transition-time: 200ms linear;
  background-color: var(--bgCol);
  background-color: #1f242b;
  color: white;
  border-color: #1f242b !important;
  padding: 0 0.5em;
}



.navbar {

    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
     background-color: var(--color1);
    margin-bottom: 50;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .card-content:hover {
    background: rgb(0, 0, 0, 0.8); /* Fallback color */
    color: #f1f1f1;
    width: 100%;
    transition: var(--card-transition-time);
  }

 .card-content {
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  transition: var(--card-transition-time);
  }

  .col {
    margin-bottom: 5px;
  }

  .data-section{
    background-color: rgb(243, 243, 243);
    border-radius: 1.5rem 1.5rem 0 0;
        color: black;
  }

  .hidden{
    display: none;
  }

  .shown{
    display: block;
  }

  /* table */

  
